h1{
	text-align: center;
	font-size: 12pt;
	text-decoration: none;
	font-weight: normal;
}

body{
	font-family: 'Courier';
	color: #000;
	font-size: 10pt;
}

svg{
	background-color: white;
	shape-rendering: optimize-quality;
	margin: 0 auto;
	display: block;
	cursor: crosshair;
}

#map-holder{
	margin: 0 auto;
	display: block;
	width: 90%;
}

